.healthimg{
	width: 100%;
	padding-left: 14px;
}
.healthbgcolor{
	background-color: #F9FAF4;
}
.healthtext{
	color: black;
	font-size: 1.1em;
	padding-bottom: 55px;
	padding-right: 20px;
}
.WhyUssection{
	border-left: 2px dotted #00CED1;
}
.healthheading{
	padding-bottom: 5px;
	padding-top: 11px;
	margin-left: 14px;
}
.WhyUsheadings{
	padding-top: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}
.WhyUstexts{
	letter-spacing: .5px;
}
@media only screen and (max-width: 767px) {
    .WhyUssection {
			border: none;
			padding-bottom: 0px;
		}
		.WhyUsmargin{
			margin-top: 25px;
			padding-top: 10px;
		}
		.h3, h3 {
			font-size: 20px;
			color:black;
		}
		.healthtext{
			padding-top: 15px;
			padding-bottom: 35px;
			padding-left: 14px;
		}
		.h4, h4 {
			font-size: 16px;
			color:black;
		}
		.healthimg{
			padding-right: 14px;
		}
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
	.h3, h3 {
		font-size: 20px;
		color:black;
	}
	.healthtext{
		font-size: 13px;
		margin-bottom: 16px;
		padding-bottom: 40px
	}
	.h4, h4 {
		font-size: 14px;
		color:black;
	}
	.WhyUstexts{
		font-size: 13px;
	}
}
