.l5img{
	width: 75%;
	margin-bottom: 50px;
}
.mrg{
	margin-left: 15px;
	background-color: #F9FAF4;
}
.l5txt1{
	padding-right: 50px;
	font-weight: bold;
	font-size: 16px;
	float: right;
	margin-left: -110px;
}
@media only screen and (max-width: 990px) {
    .l5txt1 {
			padding-right: 50px;
			font-weight: bold;
			font-size: 16px;
}
}
.l5txt2{
	padding-right: 15px;
	font-weight: bold;
}
.l5bdr{
	border-left: 3px dotted #00CED1;
}
.pad{
	margin-left: 15px;
	padding-bottom: 15px;
}
.padup{
	margin-top: -5px;
}
.space{
	padding-top: 20px;
	font-weight: bold;
}
.st5{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
	text-align: left;
	margin-right: 10px;
}
