.l5img{
	width: 90%;
}
.mrg{
	margin-left: 15px;
	background-color: #F9F5F5;
}
.l5txt1{
	padding-right: 20px;
}
.l5txt2{
	padding-right: 15px;
}
.l5bdr{
	border-left: 3px dotted #00CED1;
}
.pad{
	margin-left: 15px;
}
