.img1{
	margin-top: 8px;
	margin-left: 25px;
}
.row2{
	margin-top: -10px;

}
.bgcolr{
	background-color: white;
	border-color: white;
}
.navs{
	text-align: center;
	/*font-weight: bold;*/
	font-size: 20px;
	font-family: arial;
}
