
.header{
			height:60px;
			border:none;
			margin: 0px;
			background-color: #F3F3F3;
		}
.bgclr{
	background-color: #F3F3F3;
}
.contacts{
			padding-top: 18px;
			color: #00CED1;
			text-align: right;
			font-family: arial;
			font-size:16px;
		}
	@media only screen and (max-width: 1024px) and (min-width: 768px) {
		.contacts{
			font-size:14px;
		}
	}
@media only screen and (max-width: 600px) {
    .contacts {
      font-size:1.1em;
			text-align: center;
}
}
@media only screen and (max-width: 360px) {
    .contacts {
      font-size:.9em;
			text-align: center;
}
}
