.advancerowalign{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 35px;
		}
.advancerowimages{
	margin-top: 40px;
}

.availabilitymargin{
	padding-top: 10px;
}
.advancerowheadings{
	font-weight: 600;
	font-family: sans-serif;
	color: black;
}
.advancerowbody{
	padding-top: 6px;
	letter-spacing: 1px;
	color: black;
	font-family: sans-serif;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
.advancerowbody{
	font-size: 12px;
	padding-bottom: 5px;
}
}
@media only screen and (max-width: 767px) {

.border{
	margin-left: 20px;
	margin-right: 20px;
}
.imagepadding{
	padding-bottom: 10px;
}
.advancerowimages{
	margin-top: 0px;
	margin-top: 20px;
}
.advancerowalign{
	padding-bottom: 0px;
}
}
