.collapse .nav li a:link{
	color: black;
}
.collapse .nav li a:active{
	color: black;
}
.collapse .nav li a:visited{
	color: black;
}
.collapse .nav li a:hover{
	color: black;
}
.navbar-default .navbar-toggle{
	border: none;
}
.img1{
	margin-top: 8px;
	margin-left: 13px;
	margin-bottom: 20px;
	width: 110px;
	height: 35px;
}

.row2{
	margin-top: -10px;

}
.bgcolr{
	background-color: white;
	border-color: white;
}
.navs{
	text-align: center;
	/*font-weight: bold;*/
	font-size: 20px;
	font-family: arial;
}
.navbar{
	margin-bottom: 0;
}
.blck{
	color: black;
}
