
.header{
			height:60px;
			border:none;
		}
.p1{
			padding-top: 14px;
			margin-right: 5px;
			color: #00CED1;
			text-align: right;
			font-family: arial;
			font-size:19px;
		}
.clr{
	background-color: #F3F3F3;

}
@media only screen and (max-width: 600px) {
    .fnt {
      font-size:13px !important;
      line-height:125% !important;
			font-family: arial;
}
.blck{
	color: black;
}
